# Python cache
**/__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels
.env
venv/
.venv/

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# VSCode
.vscode/

# Mac OSpip freeze > requirements.txt
.DS_Store

# Migrations (facultatif, selon les préférences)
*/migrations/*.py
!*/migrations/__init__.py
.vercel